.App {
  text-align: center;
}

.tile {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  transition: 0.5s;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game {
    margin: 0px 40px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 90vh;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  overflow: hidden;
}

.tile:focus {
  outline: none;
}

.tile.not-available:active {
  transition: 0s;
  box-shadow: inset 0px 0px 5px 2px rgba(255,0,0,0.5);
}

.red {
    background: rgba(252, 3, 3, 0.6);
    font-size: 30px;
}

.black {
    background: rgba(102, 102, 102, 0.6);
    font-size: 30px;
}

.available {
    background: rgba(3, 252, 19, 0.3);
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 80%;
}

.next {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.history-buttons {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  border: solid black 2px;
  border-radius: 20px;
  opacity: 0.8;
  padding: 10px;
}

.back, .forward, .new-game {
  background-color: black;
  border: none;
  color: white;
  width: 20%;
  border-radius: 10px;
  transition: 0.3s;
  opacity: 0.8;
}

.button.disable:active {
  box-shadow: none;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: green;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s 1s;
}

.tooltip.enable:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.button:active {
  transition: 0s;
  box-shadow: 0px 0px 3px 2px rgba(255,255,255,0.6);
}

.button:focus {
  outline: none;
}

.title {
  height: 10%;
}

.disable {
  opacity: 0.5;
}

@media (max-width: 400px) {
  .tile {
    width: 25vw;
    height: 25vw;
    font-size: 1em;
  }
}

@media (max-width: 250px) {
  .tile br{
    display: none;
  }
  .tile {
    font-size: 0.5em
  }
}
.col-content{
  margin: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  margin-top: 15vh;
  border: grey 2px solid;
  background-color: #bdbdbd;
  height: 60vh;
  transition: 0.2s;
}

.left-col {
  border-left: none;
  margin-left: 0px;
}

.right-col {
  border-right: none;
  margin-right: 0px;
}

@media (max-width: 1000px) {
  .col {
    visibility: hidden;
    opacity: 0;
  }
}
